@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Team Godzilla</h1>
    <img src="images/godzilla.png" width="450"/>
    <p>More about us <a href="https://youtu.be/q8oy18X1Z90">here</a>.</p>
</div>
